
@font-face {
    font-family: vazir;
    src: url('../font/persianFont/vazir-font-v18.0.0/Vazir-Bold.woff');
    src: url('../font/persianFont/vazir-font-v18.0.0/Vazir-Bold.woff2');
}
*{
    font-family: vazir;
    direction: rtl;
    font-weight: bold;
    transition: all 0.7s;
}
body{
    background-color: lightgray;
}
.mainSection{
    display: flex;
    justify-content: center;
    align-items: center;
}
.divForm{
    width: 80%;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
}
.formHeadline{
    padding-right: 30px;
    margin-top: 40px;
}
input{
    width: 90%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 8px;
    margin-right: 20px;
}
.genderSelector{
    width: 80%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 8px;
    margin-right: 55px;
}
button{
      width: 60%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 8px;
    margin-right: 120px;
    background-color: rgb(30, 92, 250);
    color: white;
}
button{
    cursor: pointer;
}
button:hover{
    background-color: blue;
}
button:active{
    background-color: red;
}